In [1]:
# Import pandas library
import pandas as pd

# Read the CSV file
fitness_raw = pd.read_csv('daily_activity_raw.csv')
# Dsiplay data frame
fitness_raw.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,04/12/2016,13162.0,8.500000,8.500000,NaN,1.880000,0.551193,6.599999,NaN,25.0,13.0,328.0,728.0,1985.0
1,1503960366,4/13/2016,1735.0,6.970000,6.970000,NaN,1.575245,0.690000,4.713815,NaN,21.0,19.0,217.0,776.0,1797.0
2,1503960366,4/14/2016,146.0,6.740000,6.740000,NaN,2.445722,0.459646,3.918584,NaN,3.0,11.0,181.0,1218.0,1776.0
3,1503960366,4/15/2016,9762.0,6.282988,6.282988,NaN,2.141494,1.260000,2.830000,NaN,29.0,34.0,29.0,726.0,1745.0
4,1503960366,4/16/2016,12669.0,8.160000,8.160000,NaN,2.713815,0.500000,5.400000,NaN,36.0,1.0,221.0,773.0,1863.0

In [4]:
# Sum of missing values
fitness_raw['TotalSteps'].isnull().sum()

77

In [7]:
# Replace missing values with mean for TotalSteps.
fitness_raw['TotalSteps'].fillna(fitness_raw['TotalSteps'].mean(), inplace=True)
# Sum of missing values
fitness_raw['TotalSteps'].isnull().sum()

0

In [8]:
# Sum of missing values
fitness_raw['TrackerDistance'].isnull().sum()

78

In [10]:
# replacing missing values with 0
fitness_raw['TrackerDistance'].fillna(0, inplace=True)
# Sum of missing values
fitness_raw['TrackerDistance'].isnull().sum()

0

In [11]:
# Sum of missing values
fitness_raw['VeryActiveDistance'].isnull().sum()

413

In [13]:
# replacing missing values using forward fill
fitness_raw['VeryActiveDistance'] = fitness_raw['VeryActiveDistance'].fillna(method='ffill')
# Sum of missing values
fitness_raw['VeryActiveDistance'].isnull().sum()

0

In [14]:
# Sum of missing values
fitness_raw['LightActiveDistance'].isnull().sum()

85

In [15]:
# replacing missing values using backward fill
fitness_raw['LightActiveDistance'] = fitness_raw['LightActiveDistance'].fillna(method='bfill')
# Sum of missing values
fitness_raw['LightActiveDistance'].isnull().sum()

0

In [16]:
# Sum of missing values
fitness_raw['VeryActiveMinutes'].isnull().sum()

409

In [17]:
# replacing missing values with min
fitness_raw['VeryActiveMinutes'].fillna(fitness_raw['VeryActiveMinutes'].min, inplace=True)
# Sum of missing values
fitness_raw['VeryActiveMinutes'].isnull().sum()

0